body {
  margin: 0;
  font-family: "Segoe UI";
  color: black;
  background-color:#eee;
}

header {
  width: 100%;
  background-color: #4682B4;
  box-sizing: border-box;
  display: block;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 10px; 
}

li a {
  text-decoration: none;
  line-height: 50px;
  margin: 0;
  font-family: inherit;
  font-size: 16px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

li a:hover {
  color: bisque;
  border-bottom: 2px solid  bisque;
}

.search-container {
  margin-right: 25px;
  display: flex;
  max-height: 25px;

}


.productImage {
  cursor: pointer;
  width: 30vw;
  height: 25vw;
}




#main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main h1, .categoryName {
  font-size: 3vw;
}

#main h2 {
  font-size: 1.5vw;
}

.product_item span {
  color: black;
  font-size: 1.5vw;
  float: left;
  margin-left: 2.5vw;
}

.cart_btn {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #3CB731;
  margin-right: 2.5vw;
  cursor: pointer;
  font-size: 1vw;
  line-height: 1vw;
  width: 11vw;
  height: 4vw;
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.finishedOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5vw;
  margin-top: 30vh;
}

.finishedOrder button {
  margin-top: 10vw;
}

.finishedOrder span {
  font-size: 4vh;
  font-family: inherit;
}

.cart_btn a {
  color: black;
  font-size: 1vw;
  text-decoration: none;
  font-family: inherit;
}

.cart_btn:hover {
  color: white;
  border-color: white;
}

.positionInfo span {
  color: black;
  font-size: 1.5vw;
  margin-right: 2.5vw;
}

.positionInfo {
  text-align: center;
  margin-left: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main img:hover {
  transform: scale(1.05);
  transition: transform 0.6s ease;
}

.btn {
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #3CB731;
  margin-right: 2.5vw;
  float: right;
  cursor: pointer;
  font-size: 1vw;
  line-height: 1vw;
  width: 11vw;
  height: 4vw;
  color: black;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.btn:hover {
  color: white;
  border-color: white;
}


.cartIcon {
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Item, .cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Item span {
  margin-top: 4vw;
  margin-bottom: 2vw;
  font-size: 20px;
}

.priceAndAdd button {
  margin-left: 15vw;
}

.place {
  background-color:white;
  color: black;
  border: 1px darkgray;
  width: 3vw;
  height: 2vw;
  border-radius: 3px;
  margin-right: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
}


.priceAndAdd span {
  margin-right: 10vw;
  margin-top: 0vw !important;
  margin-bottom: 0vw !important;
  font-size: 24px !important;
}


.productMainImage {
  cursor: pointer;
  width: 40vw;
  height: 30vw;
}

.productMainImage:hover {
  transform: scale(1.3);
  transition: transform 0.6s ease;
}

.relatedProductImage {
  cursor: pointer;
  width: 15vw;
  height: 10vw;
}

.relatedItemitem {
  margin-left: 1vw;
  margin-right: 1vw;
}

.relatedProducts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.relatedProducts h2 {
  font-size: 19px !important;
}


.totalPrice {
  color: black;
  font-size: 1.5vw;
  margin-bottom: 2.5vw;
  margin-right: 2.5vw;
}

.cart_item {
  margin: 3vw;
  display: flex;
  flex-direction: row;
}

.container .menu_nav {
  display: block;
  box-sizing: border-box;
  float: left;
  white-space: nowrap;
  padding-left: 10px;
}

.login {
  padding-top: 10px;
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
}

.navigator .container {
  position: relative;
  height: 50px;
}


.search-container i {
  margin-left: 5px;
}


a:hover {
  color: #ffffff;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}


#loader {
  margin-top: 400px;
  margin-bottom: 400px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_item_dropdown {
  position: relative;
  display: inline-block;
}


.products {
  margin-top: 5vw;
  margin-bottom: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 35vw);
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  justify-content: center;
  align-items: center;
}

.validationInput {
  border: 1px solid #3CB731;
  border-radius: 3px;
  height: 3vw;
  width: 50vw;
  font-size: 1vw;
  padding-left: 1vw;
  font-family: inherit;
}

.buttonsOrder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vw;
  margin-bottom: 3vw;
}

.product_item {
  text-align: center;

}

.product_item h2 {
  color: black;
}


.categoryItem {
  text-align: center;
}

.content h2 {
  text-decoration: none;
}

.actionInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionInfo span {
  font-size: 20px;
}

.action_image {
  width: 58vw;
  height: 35vw;
}


.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: #4682B4;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 10vw;
}

.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}

.footer .col h1, .footer .col p {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: #eee;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}


.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #D3D3D3;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #ffffff;
  transition: .1s;
}

.social ul {
  margin-left: -1vw !important;
}
.col_social ul li {
  height: 32px;

}

@media only screen and (min-width: 1260px) and (max-width: 1800px) {

  
  .social h1 {
    margin: 0px;
  }
}

@media only screen and (max-width: 1260px) {
 
}

  


.search-container .fas:hover {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: bounce;
  animation-name: bounce;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}

@-webkit-keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
